

.title-apple-pie {
    style: flex;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
}

#recipe-title {
    color: white;
}



#apple-pie-img {

}

#cooking-info {

}

#recipe-info {

}

.section3 {

}